h2 Posts

div(data-ng-controller='PostsCtrl')
  
  .msg.success(data-ng-show="action && registry")
    p Well done! {{registry}} was {{action}} with success :)

  .row
    a(data-ng-href='/posts/add{{filters}}') Add

  form(data-ng-submit='search()', data-ng-show='data.length > 0 || searched')
            
    .row
      label Title
      input(type='text', data-ng-model='search.title')
      button Search

  div(data-ng-show='data.length == 0 && searched')
    p Your search did not match any posts.

  div(data-ng-show='data.length > 0')

    <list-controls></list-controls>
  
    .row
      table
        thead
          tr
            th(data-ng-click="orderBy('title')") Title
            th(data-ng-click="orderBy('description')") Description
            th Actions
        tbody
          tr(data-ng-repeat='post in data')
            td(data-th='Title') {{post.title}}
            td(data-th='Description') {{post.description}}
            td(data-th='Actions')
              a(data-ng-href='/posts/edit/{{post.id + filters}}', title='{{post.title}}') Edit
              a(href='', data-ng-click='remove(post)', title='{{post.title}}') Delete

    <list-controls></list-controls>