extends layout

block body
  h1
    a(href='/') Heisenberg

  nav
    ul
      li
        a(href='/posts/list') Posts

  section(data-ng-view)

  script(src='/scripts/vendor/require.js', data-main='/scripts/bootstrap')